:root {
    --primary-color: darkslategrey;
	--secondary-color: #333;
    --heading-text-color: #fcfcfc;
	--light-color: #ffffff;
	--card-border: #cfcfcf;
    --body-font: Arial, Helvetica, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
}

header {
	background-color: var(--primary-color);
    color: var(--light-color);
	border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}

header, main {
	margin: 0 auto;
}

main {
    max-width: 800px;
}

h1 {
	font-size: 2rem;
    padding: 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
	background-color: var(--primary-color);
    padding: 1rem;
    color: var(--heading-text-color);
}

nav ul {
	list-style: none;
	display: flex;
	flex-direction: column;
    padding: 0;
    margin: 0;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-size: larger;
}

nav a:hover {
	text-decoration: underline double;
	background-color: #eee;
	color: #000;
}

.active {
	color: yellow;
}


/* Main Columne */
section h1 {
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 25px;
    place-items: center;
    text-align: center;
}

.container img {
    border-radius: 5px;   
}

footer {
	background-color: var(--primary-color);
	color: var(--light-color);
	text-align: center;
	padding: 1rem;
}

footer p {
	margin: 0.3rem 0;
}

/* hamburger */

.nav-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--primary-color);
    width: 200px;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.nav-menu a {
    padding: 1rem;
    display: block;
}

.nav-menu.active {
    display: block;
}

.hamburger {
    display: block;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}